/* body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height 
} */


.title{
  margin: 2%;  
  color: blue;
}

#display{
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* display: flex;
  justify-content: center; */

  /* position: relative; */

  /*width: 50%;
  margin: auto; */

  /*margin-top: 10%;
  margin-left: 25%;
  margin-top: 2%;*/
}

#box{
    position: relative;
    margin-left: 60%;
    border-top-width: 20%;
    width: 300px;
    height: 80px;
    outline-style: solid;
    outline-width: 10px;
    outline-color: blue;
}

.myBox, .myBox1 {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: blue;
    margin: 50px;
    border-top-width: 10%;
    display: block;
  }

  .myBox1{
    z-index: -10;
  }

  .redBox{
    width: 350px;
    height: 350px;
    position: absolute;
    background-color: maroon;
    top: 0%;
    margin-left: 22%;
    display: block;
  }

#outerBox{
    width: 960px;
    height: 540px;

    position: absolute;
    display: flex;
    
    outline-width: 10px;
    outline-style: solid;
    outline-color: orange;
}

/* snake */



@keyframes slide {
  0% {
      left: 75%;
  }
  50% {
      left: 25%;
  }
  100% {
      left: 75%;
  }
}

@-webkit-keyframes slide {
  0% {
      left: 75%;
  }
  50% {
      left: 25%;
  }
  100% {
      left: 75%;
  }
}

.snake {
  animation: slide 3s linear infinite;
}

/* nav */

#nav{
  position: absolute;
  /* z-index: -10; */
  top: 100%;
}